k3d==2.15.2
tensorboard==2.11.0
einops==0.6.1
cprint==1.2.2
Pillow==9.2.0
omegaconf==2.3.0
trimesh==4.3.1
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
matplotlib==3.8.4
termcolor==2.4.0
scikit-learn==1.4.2
numpy~=1.26.4
PyYAML~=6.0.1
tqdm~=4.66.2
pyrender
torchinfo==1.8.0